attrs
blinker
certifi
cffi
click
colorama
flask
h11
idna
itsdangerous
jinja2
markupsafe
outcome
pycparser
pysocks
selenium
sniffio
sortedcontainers
trio
trio-websocket
typing-extensions
urllib3
websocket-client
werkzeug
wsproto
